/*          http://www.color-hex.com/color-palette/54233             */
/*          https://uniquefoods.ca/activate                          */
/*          https://css-tricks.com/fancy-scrolling-sites/            */
/*          https://redantler.com/                                   */
/*          https://www.apple.com/mac-pro/                           */
/*          https://store.google.com/product/pixel_2_switch          */


* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}


h1 {
	font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 70px;
	margin: 0;
	font-weight: bold;
	color: #212121;
}

p {
	font-family: "Lato", Sans-Serif;
	font-size: 18px;
	color: #212121;
	line-height: 2;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 0 50px;
	z-index: 10;
	background: #fff;
	transition: 150ms;
} header.scrolled {
	height: 64px;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.14);
	transition: .3s;
} header div {
	display: flex;
	align-items: center;
	float: left;
	height: 100%;
} header div:nth-child(1) {
	width: 10%;
} header div:nth-child(2) {
	width: 90%;
} header ul {
	margin: 0;
	margin-left: auto;
} header ul li {
	display: inline-block;
} header ul li a {
	position: relative;
	padding: 5px 10px;
	margin: 0 10px;
	color: rgba(33, 33, 33, .5);
	text-decoration: none;
	border-bottom: 0px solid #212121;
	transition: .2s;
} header ul li a:hover {
	color: rgba(33, 33, 33, 1);
	transition: .2s;
} header ul li a::after {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 50%;
	transform: translate(-50%);
	height: 0px;
	width: 30px;
	background: #212121;
	transition: .2s;
} header ul li a.scrolled {
	color: rgba(33, 33, 33, 1);
	transition: .2s;
} header ul li a.scrolled::after {
	height: 3px;
	transition: .2s;
}








footer {
	position: fixed;
	bottom: 0;
	height: 0;
	padding: 250px 0;
	width: 100%;
	background: #202724;
	text-align: center;
	z-index: -10;
} footer a {
	position: relative;
	font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	padding: 20px 0;
} footer a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	width: 20px;
	height: 4px;
	transition: .2s;
} footer a:hover::before {
	width: 100%;
	transition: .4s;
}






















